
{{#link-to 'question' question.id}} <h2>{{question.content}}</h2>
{{/link-to}}
<p>Written by: {{question.author}} </p>
{{update-question question=question update="update"}}
<button class="btn btn-default" {{action 'delete' question}}> Delete Question</button>

<button {{action 'addFavorite' question}}>Add as Favorite</button>
